.jumbotron {
    background-color: blue;
    color: white;
    height: 185px;
}

.jumbotron h1 {
    font-size: 90px;
    font-weight: bold;
}

.search {
    margin-top: 10px;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 6px;
}

.search:hover {
    border: 2px solid lightgray;
}